@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";


// global bulma variables
$family-sans-serif: "Fira Code", sans-serif;
$navbar-breakpoint: 0;

body {
    background-color: hsl(0, 0%, 96%);
}

// custom css
.navbar-menu {
    margin-right: 0 !important;
}

.navbar-start { // fixes is-expanded on the navbar items
    flex-grow: 1;
    text-align: center;
}

.navbar-item {
    border-style: solid;
    border-color: black;
    border-width: medium;
}

.content pre {
    padding: 0 1.5em !important;
    font-size: 1em;
}

#center-item {
    border-right-width: 0;
    border-left-width: 0;
}

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/highlight.js/scss/grayscale.scss";